.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);

  display: flex;
  justify-content: center;
  align-items: center;

  .imageContainer {
    position: absolute;
    top: 17rem;
    height: 7rem;
    width: 16rem;
  }
}
